@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, Helvetica Neue, ridi-roboto, "Noto Sans KR", sans-serif;
  word-break: break-all;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: 0;
  color: #000;
}

img {
  border: 0;
}

#wrap {
  /* width: 100vw; */
  height: 100%;
  /* height: 100vh; */
  margin: 0 auto;
  position: relative;
}
/* div {
  display: block;
} */
